In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame([[160, 53], [172, 74], [181, 90]], columns = ['a', 'b'])
display(df)

     a   b
0  160  53
1  172  74
2  181  90

In [5]:
df = pd.DataFrame([[160, 53], [172, 74], [181, 90]], columns = ['height', 'weight'], index = ['Sato', 'Suzuki', 'Yamada'])
display(df)

        height  weight
Sato       160      53
Suzuki     172      74
Yamada     181      90

In [6]:
print(df.to_numpy())

[[160  53]
 [172  74]
 [181  90]]