In [7]:
import numpy as np 
import pandas as pd

df = pd.read_csv('Data/toyo_students.csv', sep=',', skiprows=1, header=0)
display(df)

       Campus   Male  Female    Sum
0     Hakusan  11204    9199  20403
1     Kawagoe   3845     858   4703
2     Itakura    996     865   1861
3  Akabanedai   2183    1697   3880

In [9]:
arr = df.to_numpy

In [16]:
print(df.iat[0,1])

11204

In [18]:
print(df.iat[3,3])

3880

In [19]:
df.iat[1,1] = 3850

In [20]:
df.iat[1,3] = 4708

In [21]:
display(df)
display(arr)

       Campus   Male  Female    Sum
0     Hakusan  11204    9199  20403
1     Kawagoe   3850     858   4708
2     Itakura    996     865   1861
3  Akabanedai   2183    1697   3880

<bound method DataFrame.to_numpy of        Campus   Male  Female    Sum
0     Hakusan  11204    9199  20403
1     Kawagoe   3850     858   4708
2     Itakura    996     865   1861
3  Akabanedai   2183    1697   3880>